#{extends 'layout.html' /}
#{set title:'About Roch Delsalle' /}

<h1>About Roch Delsalle</h1>
<p>I am currently working as a R&D Engineer at <a href="http://www.usineadesign.com">L'Usine ˆ Design</a>.
<p>In my spare time, I work on my project : <a href="http://www.fashionbase.com">Fashionbase</a>. I also like to Fork stuffs on Github where you can <a href="https://github.com/D-Roch">find me</a></p>
<p>If you want to get in touch, <a href="http://www.twitter.com/D_Roch" rel="me">subscribe to my Twitter</a> or visit my <a href="http://www.facebook.com/Roch.Delsalle">Facebook</a> profile.</p>
<p>This website was made using <a href="http://www.playframework.org">Play Framework</a> + <a href="http://www.sienaproject.com">Siena</a> + <a href="http://jquery.com">JQuery</a> and is running on <a href="https://appengine.google.com">Google App Engine</a>. I use it to keep track of what I do and to experiment things.</p>
<p>The opinions expressed on this site are mine and do not necessarily represent those of my employer. You won't find any confidential company information here.</p>
<p>You can reach me at <a href="mailto:rdelsalle@gmail.com">rdelsalle@gmail.com</a>,</p>