#{extends 'layout.html' /}
#{set title:article.title /}
<article class="post">
  <header>
    <h1>${article.title}</h1>
    <span class="date">${article.date.format()}</span>
  </header>

  <section class="content">
    ${article.body.markdown().raw()}
  </section>

  <section class="comments">
	#{if disqus != "false"}
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/${disqus}/embed.js"> </script>
      <noscript><a href="http://${disqus}.disqus.com/?url=ref">View the discussion thread.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    #{/if}
  </section>
</article>

