<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}">
    <link rel="alternate" type="application/atom+xml" title="#{get 'title' /} - feed" href="/index.xml" />
	#{get 'moreStyles' /}
	#{get 'moreScripts' /}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>#{get 'title' /}</title>
  </head>
  <body>
  	<header>
	    <img src="/public/images/find-me-on-the-web.png" alt="Find me on the web">
	    <a href="http://www.facebook.com/Roch.Delsalle" rel="me"><img alt="facebook" src="/public/images/facebook-big.png"></a>
	    <a href="mailto:rdelsalle@gmail.com" rel="me"><img alt="gmail" src="/public/images/gmail-big.png"></a>
	    <a href="http://feeds.feedburner.com/D_Roch" rel="me"><img alt="rss" src="/public/images/feed-big.png"></a>
	    <a href="http://www.twitter.com/D_Roch" rel="me"><img alt="twitter" src="/public/images/twitter-big.png"></a>
  	</header>
    <section id="page">
      #{doLayout /}
    </section>
    <footer>
      powered by <a href="https://github.com/D-Roch/toto-play">toto for Playframework</a>
    </footer>
  </body>
</html>

